
@model IEnumerable<OrderDetail>
@{
    ViewData["title"] = "Order Details";
    decimal total = 0;
    decimal subtotal = 0;
}

<h3>Order Details</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order Code</th>
            <th scope="col">Username</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            subtotal = item.Quantity * item.Price;
            total += subtotal; 
            <tr>
                <input type="hidden" asp-for="@item.OrderCode" class="getId"/>
                <td>@item.Id</td>
                <td>@item.OrderCode</td>
                <td>@item.UserName</td>
                <td>@item.Product.Name</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@subtotal.ToString("C")</td>
            </tr>
        }
        <tr>
            <th colspan="5">Total:</th>
            <td>@total.ToString("C")</td>
            <td>
                <select class="form-control select-update-order">
                    <option value="1">Đơn hàng mới</option>
                    <option value="0">Đã xử lý</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.select-update-order').change(function () {
                var status = $(this).val();
                var ordercode = $('.getId').val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateOrder")",
                    data: { status: status, ordercode: ordercode },

                    success: function (result) {
                        if (result.success) {
                            Swal.fire("Cập nhật đơn hàng thành công!");
                        }
                        else {
                            Swal.fire("Cập nhật đơn hàng thất bại: " + result.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.fire("Có lỗi xảy ra: " + error);
                    }
                });
            });
        });
    </script>

}